.heading {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}

li.logo-space {
    width: 5%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(151, 151, 153);
    background: url(logo.png) center/cover;
}

.header-links {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #252431;
    font-family: 'karla', sans-serif;
}

.header-links ul {
    display: flexbox;
    flex-grow: 2;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-links li {
    float: left;
}

.header-links li a {
    display: block;
    text-decoration: none;
    color: #dadada;
    text-align: left;
    font-size: 1.5em;
    padding: 20px 150px;
}

.header-links li a:hover {
    color: #a5a5a5;
    ;
    transition: all .5s ease-in;
    text-decoration: underline;
}

.main-container {
    width: 100vw;
    height: auto;
}

div.space-img>img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 10% 30%;
}

div.space-img {
    width: 100%;
    height: 40%;
    background-color: black;
}

div.image {
    width: 100%;
    height: 60%;
    background: url(/40435.jpg);
    object-fit: cover;
}

div.text {
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 15px;
}

div.text h1 {
    font-size: 4rem;
    color: #000000;
}

.text>p {
    font-size: 1.5rem;
    background-color: #524f4f83;
}

.text>p:nth-child(2) {
    word-wrap: break-word;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50vh;
    background-color: #252431;
}

div.footer-card {
    width: 33.3%;
    height: 100%;
    flex-direction: column;
    background-color: #252431;
}

div.footer-card h1 {
    border-bottom: solid black;
    font-size: 1.2em;
    color: white;
    column-span: all;
}

div.footer-card a {
    display: flex;
    color: rgb(128, 128, 128);
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    font-size: 1.5em;
    line-height: 1.7em;
}

div.footer-card a:hover {
    color: #000000;
    transition: .5s ease-in;
}

.icon-card3 {
    display: inline-block;
    width: 31.3%;
}

.icon-card3 a {
    border-bottom: 1px solid transparent !important;
}

.icon-card3 a img:hover {
    opacity: 0.3;
    transition: .5s ease-in;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 3em;
    user-select: none;
    position: absolute;
    right: 0;
    top: 0;
}

.close {
    display: none;
    font-size: 3em;
    user-select: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.link-items {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

/* Media Query */

/* responsiveness for computers and larger screens */

@media screen and (min-width: 1024px) {
    .heading {
        width: 100vw;
        height: 10vh;
        display: flex;
    }

    ul li.logo-space {
        width: 5%;
        height: 100%;
        background-color: rgb(151, 151, 153);
    }

    .header-links {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #252431;
    }

    .main-container {
        width: 100vw;
    }

    div.space-img {
        width: 100%;
        height: 40%;
    }

    div.image {
        width: 100vw;
        object-fit: cover;
    }

    div.text {
        width: 100%;
        height: 100%;
    }

    .footer {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 50vh;
    }

    .footer-card:nth-child(2) {
        column-count: 2;
        column-rule: 1px solid black;
    }

    .footer-card:nth-child(3) {
        flex-direction: row;
        align-items: center;
    }

}

/* General mobile responsiveness */

@media screen and (max-width: 767px) {
    .heading {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow: hidden;
    }

    li.logo-space {
        width: 20%;
        height: 100%;
        flex-direction: column;
    }

    .header-links {
        width: 100%;
        height: 100%;
        flex-direction: column;
        overflow: hidden;
    }

    .header-links ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 2em 4em;
    }

    .header-links li a {
        font-size: 0.8em;
        padding: 2em 12em;
    }

    .main-container {
        width: 100vw;
    }

    .space-img {
        display: none;
    }

    div.image {
        width: 100%;
        height: 100%;
        background: url(/40435.jpg);
        object-fit: cover;
    }

    div.text {
        width: 100%;
        height: 100%;
    }

    div.text h1 {
        font-size: 2.3rem;
    }

    div.text p {
        font-size: 1.2rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 150vh;
        column-count: 3;
    }

    div.footer-card {
        width: 100%;
        height: 33.3%;
        flex-direction: column;
    }

    div.footer-card:nth-child(3) {
        flex-direction: row;
        padding-top: 4em;
    }

    .link-items {
        display: none;
        position: absolute;
        background-color: transparent;
        top: 0%;
        right: 0;
        left: 0;
        text-align: center;
        backdrop-filter: blur(50px);
    }

    .close {
        display: none;
    }

    .link-items li:hover {
        display: block;
        background-color: transparent;
        transition: 10s ease-in-out;
    }

    input[type=checkbox]:checked~.link-items {
        display: block;
        opacity: 0.8;
        z-index: 1;
    }

    input[type=checkbox]:checked~.hamburger {
        visibility: hidden;
    }

    input[type=checkbox]:checked~.close {
        display: block;
        z-index: 2;
    }

    .hamburger {
        display: block;
    }

}

/* Responsiveness for Ipad */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .heading {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }

    li.logo-space {
        width: 15%;
        height: 100%;
    }

    .header-links {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #252431;
    }

    .header-links ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 85%;
        height: 100%;
        overflow: hidden;
    }

    .header-links li a {
        font-size: 1em;
    }

    .main-container {
        width: 100vw;
        height: 100vh;
    }

    .space-img {
        width: 100%;
        height: 40%;
    }

    .space-img img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    div.image {
        width: 100%;
        height: 60%;
        background: url(/40435.jpg) no-repeat;
        object-fit: cover;
        position: relative;
    }

    div.text {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    div.text h1 {
        font-size: 2.3rem;
    }

    div.text p {
        font-size: 1.2rem;
    }

    .footer {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 40vh;
        column-count: 3;
    }

    div.footer-card {
        width: 40%;
        height: 40vh;
        flex-direction: column;
        position: relative;
    }

    .footer-card:nth-child(3) {
        flex-direction: row;
        align-items: center;
    }
}