.heading {
    height: 6vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ffffff;
}

.logo-space {
    flex: 10%;
    height: 6vh;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 2em;
    padding: 4px 10px;
    background-color: rgb(151, 151, 153);
}

.logo-space a {
    text-decoration: none;
    border-bottom: 2px solid #000000;
    font-family: 'karla';
    color: #dadada;
}

.logo-space a:hover {
    color: #070707;
    transition: .5s ease-in;
}

.header-links {
    flex: 80%;
    justify-content: flex-end;
    column-count: 1;
    column-rule: solid black;
    background-color: #252431;
    position: relative;
    font-family: 'karla';
}

.contact-bar {
    position: absolute;
    display: flex;
    left: 50%;
    top: 20%;
    color: #000000;
    font-size: 1.5em;
}

.contact-bar:hover {
    color: #dadada;
    transition: .5s ease-in;
}

.header-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 20%;
}

.header-links li {
    float: left;
}

.header-links li a {
    display: block;
    text-decoration: none;
    color: #0f0f0f;
    text-align: left;
    font-size: 1.5em;
    padding: 10px 2px;
}

.header-links li a:hover {
    color: #dadada;
    transition: .5s ease-in;
}

div.space-img>img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    object-position: 10% 30%;
}

div.space-img {
    width: 100vw;
    height: 80vh;
    background-color: black;
}

div.space h1 {
    font-size: 6em;
    color: #000000;
}

div.image {
    width: 100vw;
    height: 165vh;
    background: url(/40435.jpg);
    object-fit: cover;
    position: relative;
}

div.text {
    width: 100vw;
    height: 50vh;
    color: #ffffff;
    position: absolute;
    font-size: 1rem;
}

div.text h1 {
    top: 0;
    left: 40%;
    font-size: 2rem;
    color: #000000;
}

.text>p {
    font-size: 3em;
    background-color: #524f4f83;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 40vh;
    column-count: 3;
    column-rule: 1px solid darkgray;
    background-color: #252431;
}

div.footer-card {
    width: 33.3%;
    height: 40vh;
    flex-direction: column;
    background-color: rgb(124, 10, 10);
    position: relative;
}

div.footer-card h1 {
    border-bottom: solid black;
    font-size: 1.2em;
    color: white;
    column-span: all;
}

div.footer-card a {
    display: flex;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    font-size: 1.5em;
    line-height: 1.7em;
}

div.footer-card a:hover {
    color: rgb(128, 128, 128);
    transition: .5s ease-in;
}

div.footer-center {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 10%;
}

.icon-card3 {
    display: inline-block;
    width: 31.3%;
}

.icon-card3 a {
    border-bottom: 1px solid transparent !important;
}

.icon-card3 a img:hover {
    opacity: 0.3;
    transition: .5s ease-in;
}

/* Media Query */

/* responsiveness for computers and larger screens */

@media screen and (min-width: 1024px){
    .heading {
        width: 100vw;
        height: 6vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    div.space-img {
        width: 100vw;
        height: 80vh;
    }
    div.image {
        width: 100vw;
        height: 165vh;
        object-fit: cover;
        position: relative;
    }
    div.text {
        width: 100vw;
        height: 50vh;
        position: absolute;
    }
    .footer {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 40vh;
        column-count: 3;
        column-rule: 1px solid darkgray;
    }
}

/* General mobile responsiveness */

@media screen and (max-width: 767px){
    .heading {
        width: 100vw;
        height: 12vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .logo-space {
        width: 100%;
        flex: 10%;
        height: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px 10px;
    }
    .header-links {
        width: 100%;
        height: 70%;
        flex: 20%;
        flex-direction: column;
        column-count: 1;
        column-rule: solid black;
        background-color: #252431;
        position: relative;
    }
    .header-links ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        overflow: hidden;
        position: absolute;
        left: 5%;
    }
    .contact-bar {
        position: absolute;
        display: flex;
        left: 50%;
        top: 20%;
    }
    .space-img{
        display: none;
    }
    div.image {
        width: 100vw;
        height: 400vh;
        background: url(/40435.jpg);
        object-fit: cover;
        position: relative;
    }
    div.text {
        width: 100vw;
        height: 50%;
        position: absolute;
        font-size: 1rem;
    }
    .footer {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 40vh;
        column-count: 3;
    }
    div.footer-card {
        width: 40%;
        height: 40vh;
        flex-direction: column;
        position: relative;
    }
}

/* Responsiveness for Ipad */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .heading {
        width: 100vw;
        height: 12vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .logo-space {
        width: 100%;
        flex: 10%;
        height: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px 10px;
    }
    .header-links {
        width: 100%;
        height: 70%;
        flex: 20%;
        flex-direction: column;
        column-count: 1;
        column-rule: solid black;
        background-color: #252431;
        position: relative;
    }
    .header-links ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        overflow: hidden;
        position: absolute;
        left: 5%;
    }
    .contact-bar {
        position: absolute;
        display: flex;
        left: 50%;
        top: 20%;
    }
    .space-img{
        display: none;
    }
    div.image {
        width: 100vw;
        height: 175vh;
        background: url(/40435.jpg);
        object-fit: cover;
        position: relative;
    }
    div.text {
        width: 100vw;
        height: 50%;
        position: absolute;
        font-size: 1rem;
    }
    .footer {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 40vh;
        column-count: 3;
    }
    div.footer-card {
        width: 40%;
        height: 40vh;
        flex-direction: column;
        position: relative;
    }
}