div.image{
    width: 50vw;
    height: 80vh;
    background: url(/Car\ deal\ image.jpg) no-repeat;
    background-size: cover;
    float: left;
}
div.text{
    width: 49.9vw;
    height: 80vh;
    float: right;
    background-color: #1b1b1b;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
div.p{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 3em;
    left: 10%;
    top: 30%;
    transform: translate(25% 25%);
    color: white;
    margin: 0;
    padding: 0;
}
div.card{
    background-color: #1b1b1b;
    color: #f0f0f0;
    width: 100vw;
    height: 40vh;
}
div.card p{
    padding: 10px;
    line-height: 2%;
    text-align: left;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
div.space1{
    width: 50vw;
    height: 20vh;
}
div.space2{
    width: 50vw;
    height: 20vh;
}
footer{
    width: 100vw;
    height: 50vh;
    background-color: #202020;
}
footer.card{
    margin-left: 2%;
    width: 33.3%;
    height: 50vh;
    float: left;

}