body {
    background: #000000 url(lamborghinni.png) no-repeat;
    color: #ffffff;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.middle {
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50, -50);
}

.middle>img {
    position: absolute;
    top: 4%;
    left: 40%;
}

.middle p {
    font-size: 4.5em;
    position: absolute;
    top: 30%;
    left: 13%;
}