.image-container img {
    max-width: 100%;
    height: auto;
}

.image-container {
    width: 30%;
    height: 50%;
    display: inline-block;
    padding: 2% 2%;
}

.image-container a {
    text-decoration: none;
    color: black;
}

.writting {
    width: 100%;
    height: 40%;
    text-align: center;
    padding: 15px;
    color: black;
    backdrop-filter: blur(20px);
}

.page-container {
    width: 100vw;
    height: auto;
}

.image-container:hover {
    border: 2px solid black;
    transition: .5s ease-in;
}

.writting:hover {
    background-color: black;
    color: white;
    transition: .5s ease-in;
}

h1 {
    margin-bottom: 4%;
    color: #3d3d3d;
    font-weight: 700;
    text-align: center;
    font-size: 2.5em;
}

@media screen and (max-width: 767px) {
    .image-container {
        width: 40%;
    }
}