* {
    box-sizing: border-box;
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

@font-face {
    font-family: 'Karla';
    src: url(/Fonts/Karla-Regular.ttf);
    font-size: 100;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Karla';
    src: url(/Fonts/Karla-Bold.ttf);
    font-size: normal;
    font-weight: bold;
    font-style: italic;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

div {
    color: white;
    font-size: 1em;
}

.socialnav {
    position: absolute;
    top: 43%;
    left: 15%;
    width: 50%;
    height: 3%;
    float: left;
    background-color: transparent;
}

.icon-card1 {
    width: 20%;
    float: left;
}

.icon-card {
    width: 20%;
    float: left;
    filter: none;
}

.icon-card a img:hover {
    opacity: 0.5;
    transition: .5s ease-in;
}

header {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url(parking-lot-.jpg) #0f0f0f no-repeat center border-box;
}

header nav ul {
    position: absolute;
    bottom: 0;
    right: 0;
    list-style-type: none;
    overflow: hidden;
    width: 50%;
    background-color: transparent;
    color: gainsboro;
    padding: 0;
    margin: 0;
}

header nav ul li {
    float: left;
}

header nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: left;
}

header button {
    position: absolute;
    left: 20%;
    top: 50%;
    background-color: dimgray;
    color: white;
    padding: 25px 50px;
    border-radius: 12px 12px 12px 12px;
}

header button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .5s ease-in;
}

header nav li a:hover {
    color: dimgray;
    transition: .5s ease-in;
}

header h1 {
    position: absolute;
    top: 25%;
    left: 20%;
    color: darkgray;
    font-size: 2em;
    font-family: Karla sans-serif;
    font-weight: bold;
    font-style: italic;
}

header p {
    position: absolute;
    top: 30%;
    left: 15%;
    color: white;
    font-size: 1.3em;
    font-family: Karla sans-serif;
    font-style: normal;
    font-weight: normal;
}

header div.form {
    display: inline-block;
    background-color: black;
    width: 50%;
    height: 200px;
    position: absolute;
    bottom: -15%;
    left: 0%;
    border: 1px solid transparent;
    border-radius: 5px 5px;
}

select {
    width: 100%;
    height: 10%;
    padding: 1.5em 1.5em;
    margin: 10px 10px;
    background-color: darkgray;
    border: 1px solid transparent;
    border-radius: 3%;
}

input[type=range] {
    appearance: none;
    margin: 8px 0;
    width: 60%;
    margin-top: 5%;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 0 10 10 0 dimgray;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track:focus {
    background-color: floralwhite;
}

input[type=range]::-webkit-slider-thumb {
    background-color: pink;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.button {
    position: absolute;
    right: 2%;
    top: 65%;
    width: 30%;
    height: 30%;
    background-color: aqua;
    padding: 20px;
    color: white;
}

.button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

div.select {
    float: left;
    width: 20%;
    height: 10%;
    margin-left: 10%;
}

div.range {
    width: 80%;
}

.flex {
    background-color: white;
    width: 100vw;
    height: 25vh;
}

.img-card {
    width: 100vw;
    height: 50vh;
    overflow-y: hidden;
    background-color: white;
    object-fit: cover;
}

.card {
    width: 32.3%;
    margin-left: 1%;
    height: 100%;
    float: left;
}

.text {
    width: 100%;
    height: 20%;
    color: white;
    background-color: #524f4f83;
    margin: 0;
    font-family: Karla sans-serif;
    font-size: 100;
    font-style: normal;
    font-weight: normal;
}

.text h1 {
    font-size: 1.2em;
    text-align: center;
    color: rgba(255, 0, 0, 0.507);
    font-family: 'Karla' sans-serif;
}

.text p {
    font-size: 1em;
    text-align: left;
    color: #f5f1f1f5;
    font-family: Karla sans-serif;
    font-size: 100;
    font-style: normal;
}

.card:hover {
    border-top: 2px solid red;
}

.about {
    margin-top: 2%;
    width: 100vw;
    height: 50vh;
    background-color: black;
}

.aboutpic {
    width: 50%;
    height: 100%;
    float: right;
    background: url(/Nissan-Ariya-6.jpg) no-repeat;
    background-size: cover;
}

.about-text {
    width: 50%;
    height: 100%;
    float: left;
    background-color: white;
    font-family: Karla sans-serif;
    font-size: 100;
    font-style: normal;
    font-weight: normal;
}

.about-text h1 {
    text-align: left;
    color: rgba(255, 0, 0, 0.507);
    font-size: 1.8em;
    color: black;
    font-family: Karla sans-serif;
    font-size: 100;
    font-style: normal;
    font-weight: normal;
}

.about-text p {
    text-align: left;
    color: black;
    text-align: left;
    font-size: 1.2em;
    word-wrap: break-word;
    font-family: Karla sans-serif;
    font-size: 100;
    font-style: normal;
    font-weight: normal;
}

footer {
    width: 100vw;
    height: 45vh;
    margin: 0;
    background-color: black;
}

.footer-card {
    margin-left: 2%;
    float: left;
    width: 23%;
    height: 100%;
    background-color: transparent;
    color: white;
    font-family: Karla sans-serif;
    font-size: 100;
    font-style: normal;
    font-weight: normal;
}

/* ABOUT PAGE STYLESHEET */

div.header {
    height: 6vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ffffff;
}

div.logo-space {
    flex: 10%;
    height: 6vh;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 2em;
    padding: 4px 10px;
    background-color: rgb(151, 151, 153);
}

div.logo-space a {
    text-decoration: none;
    border-bottom: 2px solid #000000;
    color: #dadada;
}

div.logo-space a:hover {
    color: #070707;
    transition: .5s ease-in;
}

div.header-links {
    flex: 80%;
    justify-content: flex-end;
    column-count: 1;
    column-rule: solid black;
    background-color: #252431;
    position: relative;
}

div.contact-bar {
    position: absolute;
    display: flex;
    left: 50%;
    top: 20%;
    color: #000000;
    font-size: 1.5em;
}

div.contact-bar:hover {
    color: #dadada;
    transition: .5s ease-in;
}

.header-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 20%;
}

.header-links li {
    float: left;
}

.header-links li a {
    display: block;
    text-decoration: none;
    color: #0f0f0f;
    text-align: left;
    font-size: 1.5em;
    padding: 10px 2px;
}

.header-links li a:hover {
    color: #dadada;
    transition: .5s ease-in;
}

div.space-img>img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    object-position: 10% 30%;
}

div.space-img {
    width: 100vw;
    height: 80vh;
    background-color: black;
}

div.space h1 {
    font-size: 6em;
    color: #000000;
}

div.image {
    width: 100vw;
    height: 150vh;
    background: url(/40435.jpg);
    object-fit: cover;
    position: relative;
}

div.text {
    width: 100vw;
    height: 80vh;
    color: #ffffff;
    position: absolute;
}

div.text h1 {
    top: 0;
    left: 40%;
    font-size: 2em;
    color: #000000;
}

.text>p {
    font-size: 3em;
    background-color: #524f4f83;
}

div.footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50vh;
    column-count: 3;
    column-rule: 1px solid darkgray;
    background-color: #252431;
}

div.footer-card {
    width: 33.3%;
    height: 50vh;
    flex-direction: column;
    background-color: rgb(124, 10, 10);
    position: relative;
}

div.footer-card h1 {
    border-bottom: solid black;
    font-size: 1.2em;
    color: white;
    column-span: all;
}

div.footer-card a {
    display: flex;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    font-size: 2em;
    line-height: 1.7em;
}

div.footer-card a:hover {
    color: rgb(128, 128, 128);
    transition: .5s ease-in;
}

div.footer-center {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 10%;
}

.icon-card3 {
    display: inline-block;
    width: 31.3%;
}

.icon-card3 a {
    border-bottom: 1px solid transparent !important;
}

.icon-card3 a img:hover {
    opacity: 0.3;
    transition: .5s ease-in;
}