* {
    box-sizing: border-box;
}

* img {
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

@font-face {
    font-family: 'Karla';
    src: url(/Fonts/Karla-Regular.ttf);
    font-size: 100;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Karla';
    src: url(/Fonts/Karla-Bold.ttf);
    font-size: normal;
    font-weight: bold;
    font-style: italic;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
}

div {
    color: white;
    font-size: 1em;
}

.socialnav-container {
    width: 50%;
    height: 60%;
    top: 20%;
    left: 15%;
    position: relative;
    box-shadow: 2px 4px 6px 4px #c0bfbc, inset 4px 2px 3px 2px #706d6d;
    border-radius: 16px;
    backdrop-filter: blur(15px);
}

.socialnav {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 50%;
    height: 3%;
    float: left;
    background-color: transparent;
}

.icon-card1 {
    width: 20%;
    float: left;
}

.icon-card {
    width: 20%;
    float: left;
    filter: none;
}

.icon-card a img:hover {
    opacity: 0.5;
    transition: .5s ease-in;
}

.page-head {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url(parking-lot-.jpg) #0f0f0f no-repeat center border-box;
}

.page-head ul {
    position: absolute;
    bottom: 0;
    right: 0;
    list-style-type: none;
    overflow: hidden;
    width: 50%;
    background-color: transparent;
    color: gainsboro;
    padding: 0;
    margin: 0;
}

.page-head li {
    float: left;
}

.page-head li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: 'karla', sans-serif;
    color: white;
    text-align: left;
}

.page-head button {
    width: 20%;
    height: 10%;
    position: absolute;
    left: 30%;
    top: 50%;
    background-color: dimgray;
    font-family: 'karla', sans-serif;
    color: white;
    padding: 10px 20px;
    border-radius: 12px 12px 12px 12px;
}

.page-head button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .5s ease-in;
}

.page-head li a:hover {
    color: darkgrey;
    transition: .5s ease-in;
}

.page-head h1 {
    position: absolute;
    top: 25%;
    left: 25%;
    color: darkgray;
    font-size: 2em;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.page-head p {
    position: absolute;
    top: 35%;
    left: 15%;
    color: white;
    font-size: 1.3em;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.page-head div.form {
    display: inline-block;
    width: 50%;
    height: 25%;
    position: absolute;
    bottom: -15%;
    left: 0%;
    border: 1px solid transparent;
    border-radius: 5px 5px;
    box-shadow: 4px 8px 16px 4px #3d3d3d, 2px 4px 6px 4px #c0bfbc;
    backdrop-filter: blur(20px);
}

select, option {
    width: 100%;
    height: 10%;
    padding: 1.5em 1.5em;
    margin: 10px 10px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 18px;
}

input[type=range] {
    appearance: none;
    margin: 8px 0;
    width: 60%;
    margin-top: 5%;
    border-radius: 50%;
}

label[for=price] {
    color: rgb(51, 51, 51);
    font-weight: 700;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: black;
    border: 1px solid transparent;
    border-radius: 30px !important;
    box-shadow: 0px 0px 0px 0px dimgray;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track:focus {
    background-color: white;
}

input[type=range]::-webkit-slider-thumb {
    background-color: dimgray;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

input[type=range]::-webkit-slider-thumb:hover {
    background-color: darkgrey !important;
}

input[type=submit] {
    position: absolute;
    right: 2%;
    top: 65%;
    width: 30%;
    height: 30%;
    background-color: red;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
}

input[type=submit]:hover {
    background-color: #d3e4e9;
    color: white;
    cursor: pointer;
    transition: .8s ease;
}

div.select {
    float: left;
    width: 20%;
    height: 10%;
    margin-left: 10%;
}

div.range {
    width: 70%;
}

.flex {
    background-color: white;
    width: 100vw;
    height: 25vh;
    box-shadow: 8px 6px 6px 8px #3d3d3d;
}

.img-card {
    width: 100vw;
    height: 50vh;
    margin-top: 20%;
    overflow-y: hidden;
    box-shadow: 2px 2px 6px 4px #3d3d3d, 2px 2px 6px 4px #c0bfbc;
    object-fit: cover;
}

.img-card a {
    text-decoration: none;
}

.card {
    width: 32.3%;
    margin-left: 1%;
    height: 100%;
    float: left;
    background-color: #31312e;
    box-shadow: 2px 4px 4px 2px #414141, 2px 4px 4px 2px #6e1e09b6;
}

.text {
    width: 100%;
    height: 35%;
    color: white;
    margin: 0;
    font-family: 'Karla';
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    box-shadow: 2px 4px 4px 2px #2c2c2c, 2px 4px 4px 2px #292929b6;
    backdrop-filter: blur(500px);
}

.text h1 {
    font-size: 1.2em;
    text-align: center;
    color: red;
    font-family: 'Karla';
}

.text p {
    font-size: 1em;
    text-align: left;
    color: #f5f1f1f5;
    font-family: 'Karla';
    font-size: 100;
    font-style: normal;
}

.card:hover {
    border-top: 2px solid red;
    transition: .5s ease-in;
}

.about {
    margin-top: 2%;
    width: 100vw;
    height: 50vh;
    background-color: black;
}

.aboutpic {
    width: 50%;
    height: 100%;
    float: right;
    background: url(/Nissan-Ariya-6.jpg) no-repeat;
    background-size: cover;
    box-shadow: 1px 2px 2px 2px #414141;
}

.about-text {
    width: 50%;
    height: 100%;
    float: left;
    background-color: white;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    box-shadow: 4px 8px 16px 4px #3d3d3d 2px 4px 6px 4px #c0bfbc;
    backdrop-filter: blur(20px);
}

.about-text a {
    color: #080808;
    text-decoration: none;
}

.about-text a:hover {
    transition: .6s ease-in;
    color: #3d3d3d;
}

.about-text h1 {
    text-align: left;
    color: rgba(255, 0, 0, 0.507);
    font-size: 1.8em;
    color: black;
    font-family: 'Karla';
    font-size: 100;
    font-style: normal;
    font-weight: normal;
}

.about-text p {
    text-align: left;
    color: black;
    text-align: left;
    font-size: 1.2em;
    word-wrap: break-word;
    font-family: 'Karla';
    font-size: 100;
    font-style: normal;
    font-weight: normal;
}

.foot {
    width: 100vw;
    height: 45vh;
    margin: 0;
    background-color: black;
}

.footer-card {
    margin-left: 2%;
    float: left;
    width: 23%;
    height: 100%;
    background-color: transparent;
    color: white;
    font-family: 'Karla';
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    display: flex;
}

.footer-card-caption img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin: auto;
}

.footer-card-caption {
    width: 70%;
    height: 50%;
    display: flex;
    align-self: center;
    justify-self: center;
}

/* MEDIA QUERY STYLESHEET */

/* LARGE SCREEN SIZES */
@media screen and (min-width: 1024px) {
    .page-head {
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .img-card, .about {
        width: 100vw;
        height: 50vh;

    }

    .foot {
        width: 100vw;
        height: 45vh;
    }
}

/* MEDIUM SCREENS SIZES */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page-head {
        width: 100vw;
        height: 50vh;
    }

    .page-head h1 {
        position: absolute;
        top: 35%;
        left: 30%;
    }

    .page-head p {
        position: absolute;
        top: 45%;
        left: 10%;
    }

    .socialnav {
        width: 100%;
        height: 10%;
        position: absolute;
        top: 30%;
        left: 25%;
    }

    .page-head button {
        position: absolute;
        left: 20%;
        top: 60%;
        left: 40%;
        padding: 5px 10px;
    }

    .page-head ul {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
    }

    .page-head div.form {
        display: inline-block;
        width: 100%;
        height: 200px;
        position: absolute;
        bottom: -60%;
        left: 0%;
    }

    .img-card {
        width: 100vw;
        height: 100vh;
        margin-top: 50%;
        display: inline-block;
        overflow: hidden;
    }

    .card {
        width: 60%;
        height: 25%;
        margin: auto
    }

    .card:last-child {
        margin-top: 3%;
        margin-left: 15%;
        margin-right: 5%;
        margin-top: 12%;
    }

    .text {
        width: 100%;
        height: 40%;
        margin: 0;
    }

    .card img {
        width: 100%;
        height: 80%;
        background-size: cover;
    }

    .about {
        margin-top: 2%;
        width: 100vw;
        height: 80vh;
        display: block;
    }

    .aboutpic {
        width: 100%;
        height: 50%;
    }

    .about-text {
        width: 100%;
        height: 50%;
    }

    .foot {
        width: 100vw;
        height: 45vh;
    }
}

/* SMALL SCREEN SIZES */
@media screen and (max-width:767px) {
    .page-head {
        width: 100vw;
        height: 50vh;
    }

    .socialnav-container {
        width: 60%;
        height: 60%;
        box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px;
        backdrop-filter: blur(-0px);
    }

    .page-head h1 {
        position: absolute;
        top: 15%;
        left: 20%;
    }

    .page-head p {
        position: absolute;
        top: 45%;
        left: 15%;
    }

    .socialnav {
        width: 100%;
        height: 10%;
        position: absolute;
        top: 10%;
        left: 25%;
    }

    .page-head button {
        visibility: hidden;
    }

    .page-head ul {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
    }

    .page-head li a {
        font-size: 0.8em;
    }

    .page-head div.form {
        display: inline-block;
        width: 100%;
        height: 40%;
        position: absolute;
        top: 100%;
        left: 0%;
    }

    div.select {
        width: 25%;
        margin-left: 5%;
    }

    input[type=range] {
        width: 40%;
    }

    div.range {
        display: block;
        width: 60%;
        height: 10%;
    }

    input[type=submit] {
        position: absolute;
        right: 20%;
        padding: 5px 10px;
    }

    .img-card {
        width: 100vw;
        height: 100vh;
        margin-top: 50%;
        display: block;
        overflow: hidden;
    }

    .card {
        width: 100%;
        height: 33.3%;
        float: none;
    }

    .text {
        width: 100%;
        height: 40%;
        margin: 0;
    }

    .card img {
        width: 100%;
        height: 60%;
        background-size: cover;
    }

    .about {
        margin-top: 2%;
        width: 100vw;
        height: 150vh;
        display: block;
    }

    .aboutpic {
        width: 100%;
        height: 60%;
        background-size: cover;
        background-position-x: right;
    }

    .about-text {
        width: 100%;
        height: 40%;
    }

    .foot {
        width: 100vw;
        height: 45vh;
    }
}

/* END OF STYLESHEET */