*{box-sizing: border-box;}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.header{
    width: 100vw;
    height: 85vh;
    position: relative;
    display: flex;
    overflow: hidden;
}
.carousel{
    background-color: #141414;
    width: 100%;
    height: 100%;
}
.navigation .prev{
    font-size: 40px;
    left: 20px;
    top: 50%;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.navigation .next{
    font-size: 40px;
    right: 20px;
    top: 50%;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.navigation .nav-btn{
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
}
.navigation .nav-btn:hover{
    background-color: #7e7e7e;
}
.carousel img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.main{
    display: block;
}
.item{
    display: none;
}